.formulario{
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
  gap: 3rem;
  flex-wrap: wrap;
}
.formulario form{
  padding: 32px 96px;
  width: 600px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
}

.formulario h2{
  font-family: 'Prata', serif;
  font-size: 30px;
  margin-bottom: 44px;
  font-weight: normal;
  
}

