.footer{
  background: #6278F7;
  color: #FFF;
  gap:2rem;
  padding: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img{
  width: 30vw;
  max-width: 166px;
  height: auto;
}
.redes{
  display: flex;
  align-items: center;
  gap:3vw;
}

.redes img{
  color: #FFF;
  width: 24px;
  height: auto;
}

.footer p {
  color: #FFF;
  font-size: 20px;
  text-align: end;
  margin: 0;
  
}
.footer span{
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
}

.footer a{
  text-decoration: none;
  color: #FFF;
  font-weight: bold;

}

