.card {
  display: flex;
  width: 262px;
  height: 272px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
  position: relative;
}

.card div.fundo {
  width: 100%;
  height: 91px;
  border-radius: 10px 10px 0 0;
}

.card .img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin-top: -45px;
  margin-bottom: 18px;
}

.card h4 {
  color: #6278f7;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 9px;
}

.card p {
  color: #212121;
  text-align: center;
  font-size: 16px;
}