*{
  font-family: 'Montserrat',  sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal !important;
}

body .container-page{
  padding-left: calc((100% - 1440px + 10rem)/2);
  padding-right:  calc((100% - 1440px + 10rem)/2);
}

h1, h2 {
  font-family: 'Prata', serif;
}

.times {
  text-align: center;
}

.times h1{
  font-size: 40px;
  color: #6278F7;
  display: inline-block;
}

.times h1::after{
  content: "";
  background-color: #6278F7;
  display:block;
  margin: 80px auto;
  margin-top:14px ;
  width: 64px;
  height: 4px;
  
}

@media screen and (max-width: 767px) {
  section.formulario {
    margin:50px 0
  }

  section.formulario form, .modal-body form{
    padding: 21px;
  }
  
  section.formulario h2, .modal-body h2{
    font-size: 22px ;
    line-height: 28px;
    margin-bottom: 20px;
  }
  section.formulario label, .modal-body div label{
    font-size: 14px ;
  }
  section.formulario input, .modal-body div input{
    font-size: 11px;
    height: 50px;
  }
  section.formulario form, .modal-body div form{
    width: 303px;
  }
  section.formulario .btn-add-time{
    bottom: 151px;
    right: 24px;
  }
  section.formulario select, .modal-body div select{
    font-size: 11px ;
    height: 50px ;
  }  
  section.formulario button, .modal-body div button{
    font-size: 15px;
    width: 110px;
    height: 45px;
  }
  section.times h1{
    font-size:25px;
  }
  section.times h1::after{
    width: 64px;
    height: 4px;
    margin-bottom: 40px;
  }
  section.times h3{
    font-size: 23px;
  }
  section.times span{
    width: 32px;
  }
  section.times div.card-colaborador .fundo {
    height: 85px;
  }
  section.times div.card-colaborador .img {
    width: 115px;
    height: 115px;
  }
  section.times div.card-colaborador h4 {
    font-size: 17px;
  }

  footer.footer{
    flex-wrap: wrap;
    padding: 25px;
  }

  .redes img{
    width: 20px;;
  }

  .footer div.copyright{
    width: 100%;

  }
  .footer div p, .footer div a, .footer div span{
    font-size: 15px;
    text-align: center;
  }

}


@media screen and (min-width:1440px){
  section.time{
    background-size: 100%;
  }
}