*{
  font-family: 'Montserrat',  sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .container{
  padding-left: calc((100% - 1440px + 10rem)/2);
  padding-right:  calc((100% - 1440px + 10rem)/2);
}

h1, h2 {
  font-family: 'Prata', serif;
}

.times {
  text-align: center;
}

.times h1{
  font-size: 40px;
  color: #6278F7;
  display: inline-block;
}

.times h1::after{
  content: "";
  background-color: #6278F7;
  display:block;
  margin: 80px auto;
  margin-top:14px ;
  width: 64px;
  height: 4px;
  
}

@media screen and (max-width: 767px) {
  section.formulario{
    margin:50px 0
  }

  section.formulario form{
    padding: 21px;
  }
  section.formulario h2{
    font-size: 22px ;
    line-height: 28px;
    margin-bottom: 20px;
  }
  section.formulario label{
    font-size: 14px ;
  }
  section.formulario input{
    font-size: 11px;
    height: 50px;
  }
  section.formulario form{
    width: 303px;
  }
  section.formulario select{
    font-size: 11px ;
    height: 50px ;
  }  
  section.formulario button{
    font-size: 15px;
    width: 110px;
    height: 45px;
  }

  section.times h1{
    font-size:25px;
  }
  section.times h1::after{
    width: 64px;
    height: 4px;
    margin-bottom: 40px;
  }
  section.times h3{
    font-size: 23px;
  }
  section.times span{
    width: 32px;
  }
  section.times .card {
    width: 242px;
    height: 242px;  
  }
  section.times div.card .fundo {
    height: 91px;
}
section.times div.card .img {
    width: 115px;
    height: 115px;
    margin-top: -55px;
    margin-bottom: 16px;
  }
  section.times div.card h4 {
    padding-bottom: 6px;
    font-size: 17px;
  }

  footer.footer{
    flex-wrap: wrap;
    padding: 30px;
    gap: 1.2rem;
  }
  footer.footer img{
    width: 100px;
  }

  .redes img{
    width: 20px;;
  }

  .footer div.copyright{
    width: 100%;

  }
  .footer p, a, span{
    font-size: 13px;
    text-align: center;
  }

}


@media screen and (min-width:1440px){
  section.time{
    background-size: 100%;
  }
}