*{
  font-family: 'Montserrat',  sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Prata', serif;
}

.times {
  text-align: center;
}

.times h1{
  font-size: 40px;
  color: #6278F7;
  display: inline-block;
}

.times h1::after{
  content: "";
  background-color: #6278F7;
  display:block;
  margin: 80px auto;
  margin-top:14px ;
  width: 64px;
  height: 4px;
  
}

@media screen and (max-width: 767px) {
  section.formulario{
    margin:50px 0
  }

  form{
    padding: 21px !important;
  }
  h2{
    font-size: 22px !important;
    line-height: 28px;
    margin-bottom: 20px!important;
  }
  label{
    font-size: 14px !important;
  }
  .formulario input{
    font-size: 11px !important;
    height: 50px !important;
  }
  select{
    font-size: 11px !important;
    height: 50px !important;
  }  
  button{
    font-size: 15px !important;
    width: 110px!important;
    height: 45px !important;
  }

  h1{
    font-size:25px !important ;
  }
  h1::after{
    width: 64px !important;
    height: 4px !important;
    margin-bottom: 40px!important;
  }
  h3{
    font-size: 23px !important;
  }
  span{
    width: 32px !important;
  }
  .card {
    width: 242px !important;
    height: 242px !important;  
  }
  .card div.fundo {
    height: 91px !important;
}
  .card .img {
    width: 115px !important;
    height: 115px !important;
    margin-top: -55px !important;
    margin-bottom: 16px !important;
  }
  .card h4 {
    padding-bottom: 6px !important;
    font-size: 17px !important;
  }

  .footer{
    flex-wrap: wrap;
    padding: 30px !important;
    gap: 1.2rem !important;
  }
  .footer img{
    width: 100px !important;
  }

  .redes img{
    width: 20px !important;;
  }

  .footer div.copyright{
    width: 100%;

  }
  .footer p, a, span{
    font-size: 13px !important;
    text-align: center !important;
  }

}


@media screen and (min-width:1440px){
  body .container{
    padding-left: calc(100% - 1600px);
    padding-right: calc(100% - 1600px);
  }

  section.time{
    background-size: 100%;
  }
}